<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Stock</th>
      <th>Date</th>
      <th>PrevDelivery%</th>
      <th>Above R4</th>
      <th>Below S4</th>
      <th>P/L</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>CIPLA</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>25-Sep-2019</td>
      <td>47.55</td>
      <td>0.00</td>
      <td>-3.01</td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>11-Oct-2019</td>
      <td>25.89</td>
      <td>3.76</td>
      <td>-6.66</td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>15-Oct-2019</td>
      <td>47.97</td>
      <td>0.11</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>17-Oct-2019</td>
      <td>23.35</td>
      <td>0.00</td>
      <td>-0.57</td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td>24-Oct-2019</td>
      <td>46.09</td>
      <td>0.00</td>
      <td>-1.32</td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td></td>
      <td>29-Oct-2019</td>
      <td>44.55</td>
      <td>3.22</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td></td>
      <td>19-Nov-2019</td>
      <td>30.94</td>
      <td>1.92</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td></td>
      <td>04-Dec-2019</td>
      <td>34.09</td>
      <td>0.94</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td></td>
      <td>16-Dec-2019</td>
      <td>27.78</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td></td>
      <td>20-Dec-2019</td>
      <td>35.22</td>
      <td>0.67</td>
      <td>-0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td></td>
      <td>20-Jan-2020</td>
      <td>49.83</td>
      <td>0.00</td>
      <td>-0.03</td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td></td>
      <td>29-Jan-2020</td>
      <td>47.34</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td></td>
      <td>04-Feb-2020</td>
      <td>50.41</td>
      <td>0.38</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>14</th>
      <td></td>
      <td>10-Feb-2020</td>
      <td>27.02</td>
      <td>0.69</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>15</th>
      <td></td>
      <td>28-Feb-2020</td>
      <td>46.75</td>
      <td>0.00</td>
      <td>-3.61</td>
      <td></td>
    </tr>
    <tr>
      <th>16</th>
      <td></td>
      <td>03-Mar-2020</td>
      <td>26.74</td>
      <td>4.41</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>17</th>
      <td></td>
      <td>26-Mar-2020</td>
      <td>31.54</td>
      <td>1.74</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>18</th>
      <td></td>
      <td>20-Apr-2020</td>
      <td>23.11</td>
      <td>0.00</td>
      <td>-1.19</td>
      <td></td>
    </tr>
    <tr>
      <th>19</th>
      <td></td>
      <td>23-Apr-2020</td>
      <td>14.92</td>
      <td>1.44</td>
      <td>-0.01</td>
      <td></td>
    </tr>
    <tr>
      <th>20</th>
      <td></td>
      <td>30-Apr-2020</td>
      <td>22.91</td>
      <td>0.89</td>
      <td>-0.06</td>
      <td></td>
    </tr>
    <tr>
      <th>21</th>
      <td></td>
      <td>15-May-2020</td>
      <td>14.63</td>
      <td>1.52</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>22</th>
      <td></td>
      <td>16-Jun-2020</td>
      <td>20.09</td>
      <td>0.00</td>
      <td>-0.33</td>
      <td></td>
    </tr>
    <tr>
      <th>23</th>
      <td></td>
      <td>24-Jun-2020</td>
      <td>33.03</td>
      <td>0.00</td>
      <td>-3.27</td>
      <td></td>
    </tr>
    <tr>
      <th>24</th>
      <td></td>
      <td>26-Jun-2020</td>
      <td>34.28</td>
      <td>0.26</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>25</th>
      <td></td>
      <td>29-Jun-2020</td>
      <td>27.21</td>
      <td>1.01</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>26</th>
      <td></td>
      <td>08-Jul-2020</td>
      <td>37.70</td>
      <td>1.15</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>27</th>
      <td></td>
      <td>05-Aug-2020</td>
      <td>17.21</td>
      <td>1.03</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>28</th>
      <td></td>
      <td>18-Aug-2020</td>
      <td>21.22</td>
      <td>0.00</td>
      <td>-0.02</td>
      <td></td>
    </tr>
    <tr>
      <th>29</th>
      <td></td>
      <td>27-Aug-2020</td>
      <td>21.95</td>
      <td>1.41</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>30</th>
      <td></td>
      <td>03-Sep-2020</td>
      <td>31.27</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>31</th>
      <td></td>
      <td>04-Sep-2020</td>
      <td>12.92</td>
      <td>0.72</td>
      <td>-2.11</td>
      <td></td>
    </tr>
    <tr>
      <th>32</th>
      <td></td>
      <td>11-Sep-2020</td>
      <td>21.71</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>33</th>
      <td></td>
      <td>14-Sep-2020</td>
      <td>15.14</td>
      <td>0.00</td>
      <td>-0.28</td>
      <td></td>
    </tr>
    <tr>
      <th>34</th>
      <td></td>
      <td>18-Sep-2020</td>
      <td>17.10</td>
      <td>7.81</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>35</th>
      <td></td>
      <td>05-Oct-2020</td>
      <td>23.16</td>
      <td>0.34</td>
      <td>-0.34</td>
      <td></td>
    </tr>
    <tr>
      <th>36</th>
      <td></td>
      <td>07-Oct-2020</td>
      <td>13.35</td>
      <td>0.54</td>
      <td>-0.43</td>
      <td></td>
    </tr>
    <tr>
      <th>37</th>
      <td></td>
      <td>15-Oct-2020</td>
      <td>15.64</td>
      <td>0.00</td>
      <td>-0.44</td>
      <td></td>
    </tr>
    <tr>
      <th>38</th>
      <td></td>
      <td>21-Oct-2020</td>
      <td>18.94</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>39</th>
      <td></td>
      <td>26-Oct-2020</td>
      <td>14.24</td>
      <td>0.00</td>
      <td>-0.59</td>
      <td></td>
    </tr>
    <tr>
      <th>40</th>
      <td></td>
      <td>17-Nov-2020</td>
      <td>30.40</td>
      <td>0.39</td>
      <td>-1.15</td>
      <td></td>
    </tr>
    <tr>
      <th>41</th>
      <td></td>
      <td>20-Nov-2020</td>
      <td>21.30</td>
      <td>0.00</td>
      <td>-0.30</td>
      <td></td>
    </tr>
    <tr>
      <th>42</th>
      <td></td>
      <td>25-Nov-2020</td>
      <td>26.08</td>
      <td>0.05</td>
      <td>-1.96</td>
      <td></td>
    </tr>
    <tr>
      <th>43</th>
      <td></td>
      <td>11-Dec-2020</td>
      <td>30.47</td>
      <td>0.00</td>
      <td>-0.37</td>
      <td></td>
    </tr>
    <tr>
      <th>44</th>
      <td></td>
      <td>08-Jan-2021</td>
      <td>30.76</td>
      <td>1.54</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>45</th>
      <td></td>
      <td>29-Jan-2021</td>
      <td>30.49</td>
      <td>0.00</td>
      <td>-1.02</td>
      <td></td>
    </tr>
    <tr>
      <th>46</th>
      <td></td>
      <td>09-Feb-2021</td>
      <td>31.69</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>47</th>
      <td></td>
      <td>24-Feb-2021</td>
      <td>34.85</td>
      <td>0.00</td>
      <td>-0.84</td>
      <td></td>
    </tr>
    <tr>
      <th>48</th>
      <td></td>
      <td>02-Mar-2021</td>
      <td>31.03</td>
      <td>1.88</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>49</th>
      <td></td>
      <td>04-Mar-2021</td>
      <td>33.08</td>
      <td>0.00</td>
      <td>-0.37</td>
      <td></td>
    </tr>
    <tr>
      <th>50</th>
      <td></td>
      <td>24-Mar-2021</td>
      <td>26.20</td>
      <td>2.12</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>51</th>
      <td></td>
      <td>30-Mar-2021</td>
      <td>35.44</td>
      <td>2.34</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>52</th>
      <td></td>
      <td>04-May-2021</td>
      <td>27.24</td>
      <td>0.00</td>
      <td>-2.70</td>
      <td></td>
    </tr>
    <tr>
      <th>53</th>
      <td></td>
      <td>10-May-2021</td>
      <td>24.18</td>
      <td>1.50</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>54</th>
      <td></td>
      <td>19-May-2021</td>
      <td>26.30</td>
      <td>1.81</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>55</th>
      <td></td>
      <td>24-May-2021</td>
      <td>31.99</td>
      <td>1.24</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>56</th>
      <td></td>
      <td>02-Jun-2021</td>
      <td>26.21</td>
      <td>0.64</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>57</th>
      <td></td>
      <td>22-Jun-2021</td>
      <td>39.65</td>
      <td>0.00</td>
      <td>-0.45</td>
      <td></td>
    </tr>
    <tr>
      <th>58</th>
      <td></td>
      <td>13-Jul-2021</td>
      <td>42.24</td>
      <td>0.35</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>59</th>
      <td></td>
      <td>03-Aug-2021</td>
      <td>37.52</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>60</th>
      <td></td>
      <td>27-Aug-2021</td>
      <td>36.10</td>
      <td>0.92</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>61</th>
      <td></td>
      <td>08-Sep-2021</td>
      <td>48.97</td>
      <td>0.00</td>
      <td>-0.34</td>
      <td></td>
    </tr>
    <tr>
      <th>62</th>
      <td>INFY</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>63</th>
      <td></td>
      <td>26-Sep-2019</td>
      <td>72.08</td>
      <td>0.00</td>
      <td>-0.50</td>
      <td></td>
    </tr>
    <tr>
      <th>64</th>
      <td></td>
      <td>30-Sep-2019</td>
      <td>54.17</td>
      <td>2.28</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>65</th>
      <td></td>
      <td>18-Oct-2019</td>
      <td>55.15</td>
      <td>0.17</td>
      <td>-0.85</td>
      <td></td>
    </tr>
    <tr>
      <th>66</th>
      <td></td>
      <td>04-Nov-2019</td>
      <td>25.47</td>
      <td>5.52</td>
      <td>-0.51</td>
      <td></td>
    </tr>
    <tr>
      <th>67</th>
      <td></td>
      <td>09-Dec-2019</td>
      <td>58.95</td>
      <td>0.21</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>68</th>
      <td></td>
      <td>23-Dec-2019</td>
      <td>61.21</td>
      <td>0.28</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>69</th>
      <td></td>
      <td>15-Jan-2020</td>
      <td>47.53</td>
      <td>0.00</td>
      <td>-1.06</td>
      <td></td>
    </tr>
    <tr>
      <th>70</th>
      <td></td>
      <td>29-Jan-2020</td>
      <td>52.70</td>
      <td>1.20</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>71</th>
      <td></td>
      <td>16-Apr-2020</td>
      <td>50.92</td>
      <td>0.00</td>
      <td>-4.10</td>
      <td></td>
    </tr>
    <tr>
      <th>72</th>
      <td></td>
      <td>06-May-2020</td>
      <td>52.07</td>
      <td>0.00</td>
      <td>-0.16</td>
      <td></td>
    </tr>
    <tr>
      <th>73</th>
      <td></td>
      <td>08-May-2020</td>
      <td>50.66</td>
      <td>1.40</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>74</th>
      <td></td>
      <td>21-May-2020</td>
      <td>48.09</td>
      <td>0.38</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>75</th>
      <td></td>
      <td>29-May-2020</td>
      <td>64.22</td>
      <td>0.00</td>
      <td>-3.08</td>
      <td></td>
    </tr>
    <tr>
      <th>76</th>
      <td></td>
      <td>20-Jul-2020</td>
      <td>33.32</td>
      <td>2.89</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>77</th>
      <td></td>
      <td>22-Jul-2020</td>
      <td>48.13</td>
      <td>0.00</td>
      <td>-1.67</td>
      <td></td>
    </tr>
    <tr>
      <th>78</th>
      <td></td>
      <td>11-Aug-2020</td>
      <td>35.99</td>
      <td>0.45</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>79</th>
      <td></td>
      <td>17-Aug-2020</td>
      <td>32.13</td>
      <td>1.34</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>80</th>
      <td></td>
      <td>16-Sep-2020</td>
      <td>40.80</td>
      <td>1.10</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>81</th>
      <td></td>
      <td>29-Sep-2020</td>
      <td>31.73</td>
      <td>0.77</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>82</th>
      <td></td>
      <td>01-Oct-2020</td>
      <td>50.42</td>
      <td>0.77</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>83</th>
      <td></td>
      <td>20-Oct-2020</td>
      <td>47.79</td>
      <td>0.51</td>
      <td>-0.26</td>
      <td></td>
    </tr>
    <tr>
      <th>84</th>
      <td></td>
      <td>30-Oct-2020</td>
      <td>36.33</td>
      <td>0.00</td>
      <td>-0.98</td>
      <td></td>
    </tr>
    <tr>
      <th>85</th>
      <td></td>
      <td>25-Nov-2020</td>
      <td>56.35</td>
      <td>0.00</td>
      <td>-1.50</td>
      <td></td>
    </tr>
    <tr>
      <th>86</th>
      <td></td>
      <td>27-Nov-2020</td>
      <td>74.96</td>
      <td>0.00</td>
      <td>-0.93</td>
      <td></td>
    </tr>
    <tr>
      <th>87</th>
      <td></td>
      <td>13-Jan-2021</td>
      <td>44.94</td>
      <td>0.81</td>
      <td>-0.14</td>
      <td></td>
    </tr>
    <tr>
      <th>88</th>
      <td></td>
      <td>22-Jan-2021</td>
      <td>61.30</td>
      <td>0.15</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>89</th>
      <td></td>
      <td>16-Feb-2021</td>
      <td>58.73</td>
      <td>0.00</td>
      <td>-0.92</td>
      <td></td>
    </tr>
    <tr>
      <th>90</th>
      <td></td>
      <td>22-Feb-2021</td>
      <td>50.85</td>
      <td>0.37</td>
      <td>-1.47</td>
      <td></td>
    </tr>
    <tr>
      <th>91</th>
      <td></td>
      <td>24-Feb-2021</td>
      <td>52.54</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>92</th>
      <td></td>
      <td>22-Mar-2021</td>
      <td>45.24</td>
      <td>0.81</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>93</th>
      <td></td>
      <td>24-Mar-2021</td>
      <td>52.12</td>
      <td>0.00</td>
      <td>-0.90</td>
      <td></td>
    </tr>
    <tr>
      <th>94</th>
      <td></td>
      <td>07-Apr-2021</td>
      <td>46.51</td>
      <td>0.92</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>95</th>
      <td></td>
      <td>12-Apr-2021</td>
      <td>43.81</td>
      <td>1.57</td>
      <td>-0.86</td>
      <td></td>
    </tr>
    <tr>
      <th>96</th>
      <td></td>
      <td>23-Apr-2021</td>
      <td>56.36</td>
      <td>0.00</td>
      <td>-0.69</td>
      <td></td>
    </tr>
    <tr>
      <th>97</th>
      <td></td>
      <td>21-May-2021</td>
      <td>66.26</td>
      <td>0.78</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>98</th>
      <td></td>
      <td>29-Jun-2021</td>
      <td>65.02</td>
      <td>0.00</td>
      <td>-0.12</td>
      <td></td>
    </tr>
    <tr>
      <th>99</th>
      <td></td>
      <td>12-Jul-2021</td>
      <td>54.34</td>
      <td>0.30</td>
      <td>-1.21</td>
      <td></td>
    </tr>
    <tr>
      <th>100</th>
      <td></td>
      <td>14-Jul-2021</td>
      <td>37.20</td>
      <td>1.72</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>101</th>
      <td></td>
      <td>26-Jul-2021</td>
      <td>63.21</td>
      <td>0.86</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>102</th>
      <td></td>
      <td>28-Jul-2021</td>
      <td>68.95</td>
      <td>0.00</td>
      <td>-0.68</td>
      <td></td>
    </tr>
    <tr>
      <th>103</th>
      <td></td>
      <td>06-Aug-2021</td>
      <td>68.14</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>104</th>
      <td></td>
      <td>12-Aug-2021</td>
      <td>74.52</td>
      <td>0.60</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>105</th>
      <td></td>
      <td>20-Aug-2021</td>
      <td>62.56</td>
      <td>0.00</td>
      <td>-0.10</td>
      <td></td>
    </tr>
    <tr>
      <th>106</th>
      <td>ADANIENT</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>107</th>
      <td></td>
      <td>26-Sep-2019</td>
      <td>18.97</td>
      <td>3.20</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>108</th>
      <td></td>
      <td>04-Oct-2019</td>
      <td>18.38</td>
      <td>0.00</td>
      <td>-2.84</td>
      <td></td>
    </tr>
    <tr>
      <th>109</th>
      <td></td>
      <td>31-Oct-2019</td>
      <td>19.69</td>
      <td>1.37</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>110</th>
      <td></td>
      <td>06-Nov-2019</td>
      <td>7.23</td>
      <td>3.48</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>111</th>
      <td></td>
      <td>08-Nov-2019</td>
      <td>11.49</td>
      <td>0.07</td>
      <td>-0.12</td>
      <td></td>
    </tr>
    <tr>
      <th>112</th>
      <td></td>
      <td>18-Nov-2019</td>
      <td>13.84</td>
      <td>0.00</td>
      <td>-0.59</td>
      <td></td>
    </tr>
    <tr>
      <th>113</th>
      <td></td>
      <td>22-Nov-2019</td>
      <td>18.79</td>
      <td>0.00</td>
      <td>-0.76</td>
      <td></td>
    </tr>
    <tr>
      <th>114</th>
      <td></td>
      <td>27-Dec-2019</td>
      <td>19.47</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>115</th>
      <td></td>
      <td>30-Dec-2019</td>
      <td>13.66</td>
      <td>0.12</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>116</th>
      <td></td>
      <td>15-Jan-2020</td>
      <td>18.67</td>
      <td>0.76</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>117</th>
      <td></td>
      <td>21-Jan-2020</td>
      <td>7.55</td>
      <td>0.00</td>
      <td>-0.72</td>
      <td></td>
    </tr>
    <tr>
      <th>118</th>
      <td></td>
      <td>28-Jan-2020</td>
      <td>9.05</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>119</th>
      <td></td>
      <td>29-Jan-2020</td>
      <td>9.86</td>
      <td>2.35</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>120</th>
      <td></td>
      <td>07-Feb-2020</td>
      <td>18.30</td>
      <td>0.18</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>121</th>
      <td></td>
      <td>06-Mar-2020</td>
      <td>7.45</td>
      <td>0.00</td>
      <td>-4.65</td>
      <td></td>
    </tr>
    <tr>
      <th>122</th>
      <td></td>
      <td>31-Mar-2020</td>
      <td>17.81</td>
      <td>3.68</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>123</th>
      <td></td>
      <td>16-Apr-2020</td>
      <td>23.02</td>
      <td>0.00</td>
      <td>-0.31</td>
      <td></td>
    </tr>
    <tr>
      <th>124</th>
      <td></td>
      <td>28-Apr-2020</td>
      <td>19.06</td>
      <td>3.62</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>125</th>
      <td></td>
      <td>30-Apr-2020</td>
      <td>18.48</td>
      <td>3.64</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>126</th>
      <td></td>
      <td>18-May-2020</td>
      <td>12.38</td>
      <td>2.32</td>
      <td>-3.36</td>
      <td></td>
    </tr>
    <tr>
      <th>127</th>
      <td></td>
      <td>21-May-2020</td>
      <td>30.00</td>
      <td>0.00</td>
      <td>-1.04</td>
      <td></td>
    </tr>
    <tr>
      <th>128</th>
      <td></td>
      <td>26-May-2020</td>
      <td>29.23</td>
      <td>1.90</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>129</th>
      <td></td>
      <td>11-Jun-2020</td>
      <td>15.83</td>
      <td>7.21</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>130</th>
      <td></td>
      <td>15-Jun-2020</td>
      <td>23.22</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>131</th>
      <td></td>
      <td>18-Jun-2020</td>
      <td>32.05</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>132</th>
      <td></td>
      <td>29-Jun-2020</td>
      <td>16.47</td>
      <td>0.00</td>
      <td>-1.65</td>
      <td></td>
    </tr>
    <tr>
      <th>133</th>
      <td></td>
      <td>02-Jul-2020</td>
      <td>20.11</td>
      <td>1.05</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>134</th>
      <td></td>
      <td>10-Jul-2020</td>
      <td>18.74</td>
      <td>0.00</td>
      <td>-1.40</td>
      <td></td>
    </tr>
    <tr>
      <th>135</th>
      <td></td>
      <td>24-Jul-2020</td>
      <td>25.55</td>
      <td>0.00</td>
      <td>-2.03</td>
      <td></td>
    </tr>
    <tr>
      <th>136</th>
      <td></td>
      <td>03-Aug-2020</td>
      <td>12.63</td>
      <td>0.00</td>
      <td>-0.26</td>
      <td></td>
    </tr>
    <tr>
      <th>137</th>
      <td></td>
      <td>12-Aug-2020</td>
      <td>17.04</td>
      <td>0.97</td>
      <td>-1.39</td>
      <td></td>
    </tr>
    <tr>
      <th>138</th>
      <td></td>
      <td>18-Aug-2020</td>
      <td>13.57</td>
      <td>7.93</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>139</th>
      <td></td>
      <td>28-Aug-2020</td>
      <td>11.57</td>
      <td>0.42</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>140</th>
      <td></td>
      <td>02-Sep-2020</td>
      <td>7.24</td>
      <td>5.65</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>141</th>
      <td></td>
      <td>04-Sep-2020</td>
      <td>7.78</td>
      <td>0.00</td>
      <td>-1.78</td>
      <td></td>
    </tr>
    <tr>
      <th>142</th>
      <td></td>
      <td>08-Sep-2020</td>
      <td>10.52</td>
      <td>0.00</td>
      <td>-2.28</td>
      <td></td>
    </tr>
    <tr>
      <th>143</th>
      <td></td>
      <td>14-Sep-2020</td>
      <td>21.49</td>
      <td>0.54</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>144</th>
      <td></td>
      <td>01-Oct-2020</td>
      <td>17.39</td>
      <td>3.16</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>145</th>
      <td></td>
      <td>07-Oct-2020</td>
      <td>8.40</td>
      <td>0.75</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>146</th>
      <td></td>
      <td>15-Oct-2020</td>
      <td>13.88</td>
      <td>2.95</td>
      <td>-1.59</td>
      <td></td>
    </tr>
    <tr>
      <th>147</th>
      <td></td>
      <td>19-Oct-2020</td>
      <td>20.48</td>
      <td>2.41</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>148</th>
      <td></td>
      <td>23-Oct-2020</td>
      <td>7.64</td>
      <td>2.47</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>149</th>
      <td></td>
      <td>03-Nov-2020</td>
      <td>17.50</td>
      <td>0.67</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>150</th>
      <td></td>
      <td>06-Nov-2020</td>
      <td>10.60</td>
      <td>0.00</td>
      <td>-0.68</td>
      <td></td>
    </tr>
    <tr>
      <th>151</th>
      <td></td>
      <td>19-Nov-2020</td>
      <td>11.03</td>
      <td>0.00</td>
      <td>-1.87</td>
      <td></td>
    </tr>
    <tr>
      <th>152</th>
      <td></td>
      <td>25-Nov-2020</td>
      <td>17.13</td>
      <td>0.00</td>
      <td>-1.99</td>
      <td></td>
    </tr>
    <tr>
      <th>153</th>
      <td></td>
      <td>04-Dec-2020</td>
      <td>11.74</td>
      <td>0.32</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>154</th>
      <td></td>
      <td>17-Dec-2020</td>
      <td>11.28</td>
      <td>1.11</td>
      <td>-0.58</td>
      <td></td>
    </tr>
    <tr>
      <th>155</th>
      <td></td>
      <td>24-Dec-2020</td>
      <td>14.25</td>
      <td>1.98</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>156</th>
      <td></td>
      <td>30-Dec-2020</td>
      <td>16.40</td>
      <td>0.00</td>
      <td>-0.59</td>
      <td></td>
    </tr>
    <tr>
      <th>157</th>
      <td></td>
      <td>06-Jan-2021</td>
      <td>13.41</td>
      <td>0.00</td>
      <td>-0.75</td>
      <td></td>
    </tr>
    <tr>
      <th>158</th>
      <td></td>
      <td>11-Jan-2021</td>
      <td>9.52</td>
      <td>0.00</td>
      <td>-0.12</td>
      <td></td>
    </tr>
    <tr>
      <th>159</th>
      <td></td>
      <td>28-Jan-2021</td>
      <td>7.25</td>
      <td>0.00</td>
      <td>-0.69</td>
      <td></td>
    </tr>
    <tr>
      <th>160</th>
      <td></td>
      <td>08-Feb-2021</td>
      <td>10.15</td>
      <td>5.29</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>161</th>
      <td></td>
      <td>10-Feb-2021</td>
      <td>7.28</td>
      <td>2.11</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>162</th>
      <td></td>
      <td>18-Feb-2021</td>
      <td>6.48</td>
      <td>3.54</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>163</th>
      <td></td>
      <td>25-Feb-2021</td>
      <td>9.82</td>
      <td>5.90</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>164</th>
      <td></td>
      <td>05-Mar-2021</td>
      <td>9.23</td>
      <td>0.00</td>
      <td>-1.31</td>
      <td></td>
    </tr>
    <tr>
      <th>165</th>
      <td></td>
      <td>09-Mar-2021</td>
      <td>15.85</td>
      <td>0.70</td>
      <td>-0.54</td>
      <td></td>
    </tr>
    <tr>
      <th>166</th>
      <td></td>
      <td>17-Mar-2021</td>
      <td>15.76</td>
      <td>0.00</td>
      <td>-2.68</td>
      <td></td>
    </tr>
    <tr>
      <th>167</th>
      <td></td>
      <td>01-Apr-2021</td>
      <td>9.26</td>
      <td>6.16</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>168</th>
      <td></td>
      <td>09-Apr-2021</td>
      <td>6.14</td>
      <td>3.04</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>169</th>
      <td></td>
      <td>26-Apr-2021</td>
      <td>19.27</td>
      <td>1.68</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>170</th>
      <td></td>
      <td>05-May-2021</td>
      <td>6.95</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>171</th>
      <td></td>
      <td>21-May-2021</td>
      <td>32.06</td>
      <td>1.07</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>172</th>
      <td></td>
      <td>28-May-2021</td>
      <td>19.89</td>
      <td>0.00</td>
      <td>-0.54</td>
      <td></td>
    </tr>
    <tr>
      <th>173</th>
      <td></td>
      <td>16-Jun-2021</td>
      <td>10.54</td>
      <td>0.00</td>
      <td>-5.19</td>
      <td></td>
    </tr>
    <tr>
      <th>174</th>
      <td></td>
      <td>23-Jun-2021</td>
      <td>16.00</td>
      <td>0.05</td>
      <td>-2.16</td>
      <td></td>
    </tr>
    <tr>
      <th>175</th>
      <td></td>
      <td>25-Jun-2021</td>
      <td>12.34</td>
      <td>0.56</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>176</th>
      <td></td>
      <td>30-Jun-2021</td>
      <td>12.39</td>
      <td>0.00</td>
      <td>-0.08</td>
      <td></td>
    </tr>
    <tr>
      <th>177</th>
      <td></td>
      <td>09-Jul-2021</td>
      <td>8.15</td>
      <td>0.86</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>178</th>
      <td></td>
      <td>27-Jul-2021</td>
      <td>14.33</td>
      <td>0.50</td>
      <td>-0.87</td>
      <td></td>
    </tr>
    <tr>
      <th>179</th>
      <td></td>
      <td>30-Jul-2021</td>
      <td>24.60</td>
      <td>2.39</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>180</th>
      <td></td>
      <td>13-Aug-2021</td>
      <td>32.77</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>181</th>
      <td></td>
      <td>27-Aug-2021</td>
      <td>13.93</td>
      <td>1.37</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>182</th>
      <td>AUROPHARMA</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>183</th>
      <td></td>
      <td>10-Oct-2019</td>
      <td>8.97</td>
      <td>0.00</td>
      <td>-4.54</td>
      <td></td>
    </tr>
    <tr>
      <th>184</th>
      <td></td>
      <td>16-Oct-2019</td>
      <td>18.22</td>
      <td>0.18</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>185</th>
      <td></td>
      <td>29-Oct-2019</td>
      <td>31.57</td>
      <td>0.33</td>
      <td>-0.30</td>
      <td></td>
    </tr>
    <tr>
      <th>186</th>
      <td></td>
      <td>06-Nov-2019</td>
      <td>21.62</td>
      <td>0.00</td>
      <td>-5.00</td>
      <td></td>
    </tr>
    <tr>
      <th>187</th>
      <td></td>
      <td>08-Nov-2019</td>
      <td>27.55</td>
      <td>0.00</td>
      <td>-1.97</td>
      <td></td>
    </tr>
    <tr>
      <th>188</th>
      <td></td>
      <td>03-Dec-2019</td>
      <td>34.93</td>
      <td>0.00</td>
      <td>-1.09</td>
      <td></td>
    </tr>
    <tr>
      <th>189</th>
      <td></td>
      <td>13-Dec-2019</td>
      <td>26.24</td>
      <td>0.00</td>
      <td>-0.95</td>
      <td></td>
    </tr>
    <tr>
      <th>190</th>
      <td></td>
      <td>02-Jan-2020</td>
      <td>23.68</td>
      <td>0.91</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>191</th>
      <td></td>
      <td>01-Feb-2020</td>
      <td>12.95</td>
      <td>0.00</td>
      <td>-3.31</td>
      <td></td>
    </tr>
    <tr>
      <th>192</th>
      <td></td>
      <td>11-Feb-2020</td>
      <td>23.16</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>193</th>
      <td></td>
      <td>24-Feb-2020</td>
      <td>15.73</td>
      <td>0.00</td>
      <td>-16.31</td>
      <td></td>
    </tr>
    <tr>
      <th>194</th>
      <td></td>
      <td>26-Feb-2020</td>
      <td>17.56</td>
      <td>1.27</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>195</th>
      <td></td>
      <td>17-Mar-2020</td>
      <td>17.47</td>
      <td>4.02</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>196</th>
      <td></td>
      <td>21-Apr-2020</td>
      <td>9.23</td>
      <td>16.82</td>
      <td>-0.14</td>
      <td></td>
    </tr>
    <tr>
      <th>197</th>
      <td></td>
      <td>23-Apr-2020</td>
      <td>13.51</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>198</th>
      <td></td>
      <td>18-May-2020</td>
      <td>16.00</td>
      <td>1.13</td>
      <td>-0.07</td>
      <td></td>
    </tr>
    <tr>
      <th>199</th>
      <td></td>
      <td>28-May-2020</td>
      <td>22.33</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>200</th>
      <td></td>
      <td>29-May-2020</td>
      <td>34.40</td>
      <td>3.81</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>201</th>
      <td></td>
      <td>19-Jun-2020</td>
      <td>46.99</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>202</th>
      <td></td>
      <td>26-Jun-2020</td>
      <td>37.42</td>
      <td>0.00</td>
      <td>-0.38</td>
      <td></td>
    </tr>
    <tr>
      <th>203</th>
      <td></td>
      <td>02-Jul-2020</td>
      <td>31.13</td>
      <td>1.06</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>204</th>
      <td></td>
      <td>15-Jul-2020</td>
      <td>20.62</td>
      <td>3.11</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>205</th>
      <td></td>
      <td>17-Jul-2020</td>
      <td>25.27</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>206</th>
      <td></td>
      <td>20-Jul-2020</td>
      <td>14.36</td>
      <td>0.00</td>
      <td>-1.21</td>
      <td></td>
    </tr>
    <tr>
      <th>207</th>
      <td></td>
      <td>04-Aug-2020</td>
      <td>35.13</td>
      <td>0.00</td>
      <td>-0.18</td>
      <td></td>
    </tr>
    <tr>
      <th>208</th>
      <td></td>
      <td>10-Aug-2020</td>
      <td>22.65</td>
      <td>5.14</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>209</th>
      <td></td>
      <td>12-Aug-2020</td>
      <td>15.53</td>
      <td>0.00</td>
      <td>-0.47</td>
      <td></td>
    </tr>
    <tr>
      <th>210</th>
      <td></td>
      <td>17-Aug-2020</td>
      <td>33.44</td>
      <td>0.00</td>
      <td>-0.31</td>
      <td></td>
    </tr>
    <tr>
      <th>211</th>
      <td></td>
      <td>27-Aug-2020</td>
      <td>25.94</td>
      <td>1.03</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>212</th>
      <td></td>
      <td>03-Sep-2020</td>
      <td>19.94</td>
      <td>0.56</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>213</th>
      <td></td>
      <td>11-Sep-2020</td>
      <td>17.52</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>214</th>
      <td></td>
      <td>14-Sep-2020</td>
      <td>24.41</td>
      <td>0.21</td>
      <td>-0.17</td>
      <td></td>
    </tr>
    <tr>
      <th>215</th>
      <td></td>
      <td>23-Sep-2020</td>
      <td>19.58</td>
      <td>0.00</td>
      <td>-0.46</td>
      <td></td>
    </tr>
    <tr>
      <th>216</th>
      <td></td>
      <td>30-Sep-2020</td>
      <td>12.19</td>
      <td>1.57</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>217</th>
      <td></td>
      <td>13-Oct-2020</td>
      <td>18.37</td>
      <td>0.00</td>
      <td>-2.22</td>
      <td></td>
    </tr>
    <tr>
      <th>218</th>
      <td></td>
      <td>15-Oct-2020</td>
      <td>13.46</td>
      <td>0.00</td>
      <td>-1.37</td>
      <td></td>
    </tr>
    <tr>
      <th>219</th>
      <td></td>
      <td>26-Oct-2020</td>
      <td>10.78</td>
      <td>2.91</td>
      <td>-0.21</td>
      <td></td>
    </tr>
    <tr>
      <th>220</th>
      <td></td>
      <td>23-Nov-2020</td>
      <td>25.56</td>
      <td>2.01</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>221</th>
      <td></td>
      <td>17-Dec-2020</td>
      <td>38.27</td>
      <td>0.68</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>222</th>
      <td></td>
      <td>23-Dec-2020</td>
      <td>26.46</td>
      <td>1.57</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>223</th>
      <td></td>
      <td>29-Dec-2020</td>
      <td>26.14</td>
      <td>0.18</td>
      <td>-0.31</td>
      <td></td>
    </tr>
    <tr>
      <th>224</th>
      <td></td>
      <td>31-Dec-2020</td>
      <td>14.66</td>
      <td>3.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>225</th>
      <td></td>
      <td>03-Feb-2021</td>
      <td>43.58</td>
      <td>1.24</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>226</th>
      <td></td>
      <td>24-Feb-2021</td>
      <td>47.77</td>
      <td>0.08</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>227</th>
      <td></td>
      <td>09-Mar-2021</td>
      <td>38.66</td>
      <td>0.00</td>
      <td>-1.12</td>
      <td></td>
    </tr>
    <tr>
      <th>228</th>
      <td></td>
      <td>26-Apr-2021</td>
      <td>23.51</td>
      <td>0.00</td>
      <td>-1.10</td>
      <td></td>
    </tr>
    <tr>
      <th>229</th>
      <td></td>
      <td>28-Apr-2021</td>
      <td>26.97</td>
      <td>0.00</td>
      <td>-0.26</td>
      <td></td>
    </tr>
    <tr>
      <th>230</th>
      <td></td>
      <td>10-May-2021</td>
      <td>26.03</td>
      <td>3.57</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>231</th>
      <td></td>
      <td>25-May-2021</td>
      <td>35.22</td>
      <td>0.43</td>
      <td>-0.07</td>
      <td></td>
    </tr>
    <tr>
      <th>232</th>
      <td></td>
      <td>03-Jun-2021</td>
      <td>32.92</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>233</th>
      <td></td>
      <td>04-Jun-2021</td>
      <td>33.03</td>
      <td>0.04</td>
      <td>-0.58</td>
      <td></td>
    </tr>
    <tr>
      <th>234</th>
      <td></td>
      <td>08-Jun-2021</td>
      <td>35.09</td>
      <td>0.88</td>
      <td>-0.28</td>
      <td></td>
    </tr>
    <tr>
      <th>235</th>
      <td></td>
      <td>16-Jun-2021</td>
      <td>21.98</td>
      <td>0.69</td>
      <td>-0.41</td>
      <td></td>
    </tr>
    <tr>
      <th>236</th>
      <td></td>
      <td>22-Jun-2021</td>
      <td>42.85</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>237</th>
      <td></td>
      <td>30-Jun-2021</td>
      <td>36.32</td>
      <td>0.00</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>238</th>
      <td></td>
      <td>12-Jul-2021</td>
      <td>46.07</td>
      <td>0.00</td>
      <td>-0.18</td>
      <td></td>
    </tr>
    <tr>
      <th>239</th>
      <td></td>
      <td>03-Aug-2021</td>
      <td>49.79</td>
      <td>0.28</td>
      <td>0.00</td>
      <td></td>
    </tr>
    <tr>
      <th>240</th>
      <td></td>
      <td>27-Aug-2021</td>
      <td>29.35</td>
      <td>1.56</td>
      <td>0.00</td>
      <td></td>
    </tr>
  </tbody>
</table>